{% extends 'bigshop/base.html' %}

{% block content %}

<div id="app">
    {% csrf_token %}
    <h1>Your Recipes</h1>


    <div class="row" v-for="recipe in recipes">
        <h1>[[ recipe.name ]]</h1>
        <img v-bind:src="recipe.image" alt="">
        <p> Calories: [[ recipe.calories ]]</p>
        <p> Protein: [[ recipe.protein ]]</p>
        <p> Carbs: [[ recipe.carbs ]]</p>
        <p> Fat: [[ recipe.fat ]]</p>

        <div v-for="ingredient in recipe.ingredients">
            <p>
                [[ ingredient.amount]] [[ ingredient.unit ]] [[ ingredient.name ]]
            </p>
            
        </div>

        <div v-html="recipe.instructions"></div>

        <button class="btn" v-on:click="deleteRecipe(recipe.id)">Delete</button>
        <button class="btn" v-on:click="addIngredients(recipe.id)">Add to list</button>

    </div>



</div>

<script type="text/javascript">
    // initialize Materialize components
    M.AutoInit()

    let app = new Vue({
        el: '#app',
        delimiters: ["[[", "]]"],

        data: {
            recipes: [],
            list: []
        },

        methods: {

            getRecipes: function() {
                axios({
                    method: "get",
                    url: '{% url "bigshop:get_saved_recipes" %}',
                    params: {

                    }
                }).then((response) => {
                    // console.log(response.data.recipes)
                    this.recipes = response.data.recipes
                });
            },

            deleteRecipe: function(id) {
                console.log(id)
                axios({
                        method: 'get',
                        url: '{% url "bigshop:delete" %}',
                        params: {
                            id: id
                        }
                    }).then(response => {
                        this.getRecipes()
                    })

            },

            addIngredients: function(id) {
                console.log(id)
                axios({
                        method: 'get',
                        url: '{% url "bigshop:add_ingredients" %}',
                     
                        params: {
                            id: id
                        }
                    }).then(response => {
                        console.log(response.data)
                    })

            }

        },

        created: function () {
            this.getRecipes()
        }
    })
</script>



{% endblock %}