{% extends 'bigshop/base.html' %}

{% block content %}

<div id="app">
    {% csrf_token %}
    <h1>Your Shopping List</h1>


   
    <div class="row" v-for="ingredient in ingredients">
        <h1>[[ ingredient.name ]]</h1>
        
    </div>



</div>

<script type="text/javascript">
    // initialize Materialize components
    M.AutoInit()

    let app = new Vue({
        el: '#app',
        delimiters: ["[[", "]]"],

        data: {
            ingredients: []
        },

        methods: {
            getListItems: function() {
                axios({
                    method: "get",
                    url: '{% url "bigshop:get_saved_list" %}',
                    params: {

                    }
                }).then((response) => {
                    this.recipes = response.data.ingredients
                    console.log(response.data)
                });
            },

        },

        created: function () {
            this.getListItems()
        }
    })
</script>



{% endblock %}