{% extends 'bigshop/base.html' %}

{% block content %}

<div id="app">
    
    <h1>Your Shopping List</h1>


   
    <div class="row" v-for="ingredient in ingredients">
        
        <label>
            <input type="checkbox" />
            <span>[[ ingredient.name ]]</span>
        </label>
        <p> Aisle:[[ ingredient.aisle ]]</p>
        <p>[[ ingredient.amount ]] [[ingredient.unit]]</p>
        
    </div>



</div>

<script type="text/javascript">
    // initialize Materialize components
    M.AutoInit()

    let app = new Vue({
        el: '#app',
        delimiters: ["[[", "]]"],

        data: {
            ingredients: []
        },

        methods: {
            getListItems: function() {
                axios({
                    method: "get",
                    url: '{% url "bigshop:get_saved_list" %}',
                    params: {

                    }
                }).then((response) => {
                    this.ingredients = response.data.ingredients
                    console.log(response.data.ingredients)
                });
            },

        },

        created: function () {
            this.getListItems()
        }
    })
</script>



{% endblock %}